html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #99A9C1;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(240, 240, 240));
}

input {
  background-color: transparent;
}

ui,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
